@font-face {
  font-family: 'Abril Fatface';
  src: url('../../../files/theme_lb_demoshop/fonts/AbrilFatface/abril-fatface-v11-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/AbrilFatface/abril-fatface-v11-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.AbrilFatface {
	font-family: Abril Fatface, sans-serif;
	    
}
.AbrilFatface h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.AbrilFatface h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Arima Madurai';
  src: url('../../../files/theme_lb_demoshop/fonts/ArimaMadurai/arima-madurai-v5-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/ArimaMadurai/arima-madurai-v5-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arima Madurai';
  src: url('../../../files/theme_lb_demoshop/fonts/ArimaMadurai/arima-madurai-v5-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/ArimaMadurai/arima-madurai-v5-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.ArimaMadurai {
	font-family: Arima Madurai, sans-serif;
	    
}
.ArimaMadurai h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.ArimaMadurai h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Concert One';
  src: url('../../../files/theme_lb_demoshop/fonts/ConcertOne/concert-one-v10-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/ConcertOne/concert-one-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.ConcertOne {
	font-family: Concert One, sans-serif;
	    
}
.ConcertOne h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.ConcertOne h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Lobster';
  src: url('../../../files/theme_lb_demoshop/fonts/Lobster/lobster-v22-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Lobster/lobster-v22-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.Lobster {
	font-family: Lobster, sans-serif;
	    
}
.Lobster h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Lobster h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Sigmar One';
  src: url('../../../files/theme_lb_demoshop/fonts/SigmarOne/sigmar-one-v10-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/SigmarOne/sigmar-one-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.SigmarOne {
	font-family: Sigmar One, sans-serif;
	    
}
.SigmarOne h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.SigmarOne h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Special Elite';
  src: url('../../../files/theme_lb_demoshop/fonts/SpecialElite/special-elite-v10-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/SpecialElite/special-elite-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.SpecialElite {
	font-family: Special Elite, sans-serif;
	    
}
.SpecialElite h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.SpecialElite h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Indie Flower';
  src: url('../../../files/theme_lb_demoshop/fonts/IndieFlower/indie-flower-v11-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/IndieFlower/indie-flower-v11-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.IndieFlower {
	font-family: Indie Flower, sans-serif;
	    
}
.IndieFlower h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.IndieFlower h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Kalam';
  src: url('../../../files/theme_lb_demoshop/fonts/Kalam/kalam-v10-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Kalam/kalam-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kalam';
  src: url('../../../files/theme_lb_demoshop/fonts/Kalam/kalam-v10-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Kalam/kalam-v10-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Kalam {
	font-family: Kalam, sans-serif;
	    
}
.Kalam h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Kalam h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Pacifico';
  src: url('../../../files/theme_lb_demoshop/fonts/Pacifico/pacifico-v16-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Pacifico/pacifico-v16-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.Pacifico {
	font-family: Pacifico, sans-serif;
	    
}
.Pacifico h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Pacifico h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('../../../files/theme_lb_demoshop/fonts/FiraMono/fira-mono-v8-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/FiraMono/fira-mono-v8-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('../../../files/theme_lb_demoshop/fonts/FiraMono/fira-mono-v8-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/FiraMono/fira-mono-v8-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.FiraMono {
	font-family: Fira Mono, sans-serif;
	    
}
.FiraMono h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.FiraMono h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Cutive Mono';
  src: url('../../../files/theme_lb_demoshop/fonts/CutiveMono/cutive-mono-v8-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/CutiveMono/cutive-mono-v8-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.CutiveMono {
	font-family: Cutive Mono, sans-serif;
	    
}
.CutiveMono h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.CutiveMono h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../files/theme_lb_demoshop/fonts/RobotoMono/roboto-mono-v7-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/RobotoMono/roboto-mono-v7-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../files/theme_lb_demoshop/fonts/RobotoMono/roboto-mono-v7-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/RobotoMono/roboto-mono-v7-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.RobotoMono {
	font-family: Roboto Mono, sans-serif;
	    
}
.RobotoMono h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.RobotoMono h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Lato';
  src: url('../../../files/theme_lb_demoshop/fonts/Lato/lato-v16-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Lato/lato-v16-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../../files/theme_lb_demoshop/fonts/Lato/lato-v16-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Lato/lato-v16-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Lato {
	font-family: Lato, sans-serif;
	    
}
.Lato h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Lato h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Montserrat';
  src: url('../../../files/theme_lb_demoshop/fonts/Montserrat/montserrat-v14-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Montserrat/montserrat-v14-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../../files/theme_lb_demoshop/fonts/Montserrat/montserrat-v14-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Montserrat/montserrat-v14-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Montserrat {
	font-family: Montserrat, sans-serif;
	    
}
.Montserrat h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Montserrat h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/NotoSans/noto-sans-v9-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NotoSans/noto-sans-v9-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/NotoSans/noto-sans-v9-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NotoSans/noto-sans-v9-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.NotoSans {
	font-family: Noto Sans, sans-serif;
	    
}
.NotoSans h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.NotoSans h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/NunitoSans/nunito-sans-v5-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NunitoSans/nunito-sans-v5-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/NunitoSans/nunito-sans-v5-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NunitoSans/nunito-sans-v5-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.NunitoSans {
	font-family: Nunito Sans, sans-serif;
	    
}
.NunitoSans h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.NunitoSans h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Open Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/OpenSans/open-sans-v17-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/OpenSans/open-sans-v17-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/OpenSans/open-sans-v17-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/OpenSans/open-sans-v17-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.OpenSans {
	font-family: Open Sans, sans-serif;
	    
}
.OpenSans h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.OpenSans h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Prompt';
  src: url('../../../files/theme_lb_demoshop/fonts/Prompt/prompt-v4-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Prompt/prompt-v4-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Prompt';
  src: url('../../../files/theme_lb_demoshop/fonts/Prompt/prompt-v4-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Prompt/prompt-v4-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Prompt {
	font-family: Prompt, sans-serif;
	    
}
.Prompt h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Prompt h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'PT Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/PTSans/pt-sans-v11-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/PTSans/pt-sans-v11-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/PTSans/pt-sans-v11-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/PTSans/pt-sans-v11-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.PTSans {
	font-family: PT Sans, sans-serif;
	    
}
.PTSans h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.PTSans h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../../../files/theme_lb_demoshop/fonts/PTSansNarrow/pt-sans-narrow-v11-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/PTSansNarrow/pt-sans-narrow-v11-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../../../files/theme_lb_demoshop/fonts/PTSansNarrow/pt-sans-narrow-v11-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/PTSansNarrow/pt-sans-narrow-v11-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.PTSansNarrow {
	font-family: PT Sans Narrow, sans-serif;
	    
}
.PTSansNarrow h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.PTSansNarrow h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Raleway';
  src: url('../../../files/theme_lb_demoshop/fonts/Raleway/raleway-v14-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Raleway/raleway-v14-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../../../files/theme_lb_demoshop/fonts/Raleway/raleway-v14-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Raleway/raleway-v14-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Raleway {
	font-family: Raleway, sans-serif;
	    
}
.Raleway h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Raleway h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Roboto';
  src: url('../../../files/theme_lb_demoshop/fonts/Roboto/roboto-v20-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Roboto/roboto-v20-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../files/theme_lb_demoshop/fonts/Roboto/roboto-v20-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Roboto/roboto-v20-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Roboto {
	font-family: Roboto, sans-serif;
	    
}
.Roboto h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Roboto h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../../files/theme_lb_demoshop/fonts/SourceSansPro/source-sans-pro-v13-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/SourceSansPro/source-sans-pro-v13-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../../files/theme_lb_demoshop/fonts/SourceSansPro/source-sans-pro-v13-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/SourceSansPro/source-sans-pro-v13-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.SourceSansPro {
	font-family: Source Sans Pro, sans-serif;
	    
}
.SourceSansPro h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.SourceSansPro h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Work Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/WorkSans/work-sans-v5-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/WorkSans/work-sans-v5-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../../../files/theme_lb_demoshop/fonts/WorkSans/work-sans-v5-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/WorkSans/work-sans-v5-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.WorkSans {
	font-family: Work Sans, sans-serif;
	    
}
.WorkSans h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.WorkSans h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Amaranth';
  src: url('../../../files/theme_lb_demoshop/fonts/Amaranth/amaranth-v10-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Amaranth/amaranth-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amaranth';
  src: url('../../../files/theme_lb_demoshop/fonts/Amaranth/amaranth-v10-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Amaranth/amaranth-v10-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Amaranth {
	font-family: Amaranth, sans-serif;
	    
}
.Amaranth h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Amaranth h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Bitter';
  src: url('../../../files/theme_lb_demoshop/fonts/Bitter/bitter-v15-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Bitter/bitter-v15-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../../../files/theme_lb_demoshop/fonts/Bitter/bitter-v15-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Bitter/bitter-v15-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Bitter {
	font-family: Bitter, sans-serif;
	    
}
.Bitter h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Bitter h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../../../files/theme_lb_demoshop/fonts/LibreBaskerville/libre-baskerville-v7-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/LibreBaskerville/libre-baskerville-v7-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../../../files/theme_lb_demoshop/fonts/LibreBaskerville/libre-baskerville-v7-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/LibreBaskerville/libre-baskerville-v7-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.LibreBaskerville {
	font-family: Libre Baskerville, sans-serif;
	    
}
.LibreBaskerville h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.LibreBaskerville h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Merriweather';
  src: url('../../../files/theme_lb_demoshop/fonts/Merriweather/merriweather-v21-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Merriweather/merriweather-v21-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../../../files/theme_lb_demoshop/fonts/Merriweather/merriweather-v21-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Merriweather/merriweather-v21-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.Merriweather {
	font-family: Merriweather, sans-serif;
	    
}
.Merriweather h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Merriweather h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Noto Serif';
  src: url('../../../files/theme_lb_demoshop/fonts/NotoSerif/noto-serif-v8-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NotoSerif/noto-serif-v8-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../../../files/theme_lb_demoshop/fonts/NotoSerif/noto-serif-v8-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/NotoSerif/noto-serif-v8-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.NotoSerif {
	font-family: Noto Serif, sans-serif;
	    
}
.NotoSerif h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.NotoSerif h2{
	margin-bottom: .5rem;
}
    
@font-face {
  font-family: 'Sanchez';
  src: url('../../../files/theme_lb_demoshop/fonts/Sanchez/sanchez-v7-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Sanchez/sanchez-v7-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.Sanchez {
	font-family: Sanchez, sans-serif;
	    
}
.Sanchez h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Sanchez h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Slabo 13px';
  src: url('../../../files/theme_lb_demoshop/fonts/Slabo13px/slabo-13px-v7-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Slabo13px/slabo-13px-v7-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.Slabo13px {
	font-family: Slabo 13px, sans-serif;
	    
}
.Slabo13px h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Slabo13px h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Slabo 27px';
  src: url('../../../files/theme_lb_demoshop/fonts/Slabo27px/slabo-27px-v6-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/Slabo27px/slabo-27px-v6-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.Slabo27px {
	font-family: Slabo 27px, sans-serif;
	    
}
.Slabo27px h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.Slabo27px h2{
	margin-bottom: .5rem;
}
@font-face {
  font-family: 'Zilla Slab';
  src: url('../../../files/theme_lb_demoshop/fonts/ZillaSlab/zilla-slab-v5-latin-regular.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/ZillaSlab/zilla-slab-v5-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Zilla Slab';
  src: url('../../../files/theme_lb_demoshop/fonts/ZillaSlab/zilla-slab-v5-latin-700.woff') format('woff2'),
  url('../../../files/theme_lb_demoshop/fonts/ZillaSlab/zilla-slab-v5-latin-700.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
      
.ZillaSlab {
	font-family: Zilla Slab, sans-serif;
	    
}
.ZillaSlab h1,h2 {
	font-weight:normal;
	font-size: 29px;
}
.ZillaSlab h2{
	margin-bottom: .5rem;
}
    
